<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<link rel="stylesheet" href="/css/style.css"/> <!--/ : 서버환경이기 때문에 붙여준다. 앞에는 우리 아이피가 생략되어있음 public안써도 됨. 이미 셋팅되어있어서  -->
</head>
<body>
    
    <div><%=title %></div>